
.img-page3-2 {
    position: absolute;
    left:0vw;
    width:54vw;
    top: 0vw; 
}


.img-page3-3 {
    position: absolute;
    left:9vw;
    width:33vw;
    top: 15vw;  
}





.img-page3-4 {
    position: absolute;
    left:6vw;
    width:88vw;
    top: 30vw;
}

.img-page3-5 {
    position: absolute;
    left:13vw;
    width:74vw;
    top: 106vw;   
}

  