
.img-page4-2 {
    position: absolute;
    left:0vw;
    width:54vw;
    top: 0vw; 
}

.img-page4-3 {
    position: absolute;
    left:9vw;
    width:33vw;
    top: 15vw;  
}

.img-page4-4 {
    position: absolute;
    left:14vw;
    width:2vw;
    top: 27vw;
}

.img-page4-5 {
    position: absolute;
    left:8vw;
    width:30vw;
    top: 32vw;
}
.img-page4-6 {
    position: absolute;
    left:42vw;
    width:50vw;
    top: 29vw;
}

.img-page4-7 {
    position: absolute;
    left:8vw;
    width:30vw;
    top: 52vw;
}
.img-page4-8 {
    position: absolute;
    left:42vw;
    width:50vw;
    top: 52vw;
}

.img-page4-9 {
    position: absolute;
    left:8vw;
    width:30vw;
    top: 70vw;
}
.img-page4-10 {
    position: absolute;
    left:42vw;
    width:52vw;
    top: 72vw;
}

.img-page4-11 {
    position: absolute;
    left:8vw;
    width:30vw;
    top: 87vw;
}
.img-page4-12 {
    position: absolute;
    left:42vw;
    width:40vw;
    top: 92vw;
}

.img-page4-13 {
    position: absolute;
    left:8vw;
    width:30vw;
    top: 104vw;
}
.img-page4-14 {
    position: absolute;
    left:42vw;
    width:49vw;
    top: 105vw;
}

.img-page4-15 {
    position: absolute;
    left:8vw;
    width:30vw;
    top: 122vw;
}
.img-page4-16 {
    position: absolute;
    left:42vw;
    width:46vw;
    top: 125vw;
}

.img-page4-17 {
    position: absolute;
    left:8vw;
    width:30vw;
    top: 140vw;
}
.img-page4-18 {
    position: absolute;
    left:42vw;
    width:50vw;
    top: 140vw;
}

