
.img-page9-2 {
    position: absolute;
    left:0vw;
    width:54vw;
    top: 0vw; 
}

.img-page9-3 {
    position: absolute;
    left:9vw;
    width:33vw;
    top: 15vw;  
}

.img-page9-4 {
    position: absolute;
    left:47vw;
    width:23vw;
    top: 27vw;
}

.img-page9-5 {
    position: absolute;
    left:0vw;
    width:40vw;
    top: 35vw;
}
.img-page9-6 {
    position: absolute;
    right:0vw;
    width:60vw;
    top: 35vw;
}
.img-page9-7 {
    position: absolute;
    right:0vw;
    width:80vw;
    top: 55vw;
}
.img-page9-8 {
    position: absolute;
    right:0vw;
    width:55vw;
    bottom: 2vw;
}
