
.img-page6-2 {
    position: absolute;
    left:0vw;
    width:54vw;
    top: 0vw; 
}

.img-page6-3 {
    position: absolute;
    left:9vw;
    width:33vw;
    top: 15vw;  
}

.img-page6-4 {
    position: absolute;
    left:22vw;
    width:72vw;
    top: 27vw;
}

.img-page6-5 {
    position: absolute;
    left:28vw;
    width:63vw;
    top: 35vw;
}
.img-page6-6 {
    position: absolute;
    left:12vw;
    width:68vw;
    bottom: 7vw;
}
