
.img-page16-2 {
    position: absolute;
    left:0vw;
    width:85vw;
    top: 0vw; 
}

.img-page16-3 {
    position: absolute;
    left:9vw;
    width:60vw;
    top: 14vw;  
}

.img-page16-4 {
    position: absolute;
    left:2vw;
    width:96vw;
    top: 30vw;
}
