
.img-page14-1 {
    position: absolute;
    right:0vw;
    width:50vw;
    top: 0vw; 
}

.img-page14-2 {
    position: absolute;
    left:0vw;
    width:86vw;
    bottom: 0vw; 
}

.img-page14-3 {
    position: absolute;
    right:10vw;
    width:60vw;
    top: 55vw;  
}
