.img-page5-1 {
    position: absolute;
    right:0vw;
    width:50vw;
    top: 0vw;
}
.img-page5-2 {
    position: absolute;
    left:0vw;
    width:86vw;
    bottom: 0vw; 
}

.img-page5-3 {
    position: absolute;
    left:45vw;
    width:50vw;
    top: 55vw;  
}


