.swiper-container {
    width: 100%;
    height: 100%;
}
.swiper-slide {
    font-size: 18px;
    background: black;
    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: top center;
    -ms-flex-pack: top center;
    -webkit-justify-content: top center;
    justify-content: top center;
    -webkit-box-align: top center;
    -ms-flex-align: top center;
    -webkit-align-items: top center;
    align-items: top center;

}
.img {
  background-repeat: no-repeat;
  background-size: 107% 100%;
  background-position: center center;
  /*background-attachment: fixed;*/
  position: relative;
}
.swiper-container-v {
    background: black;
}

.img-1 {
  background-image: url('../images/page1/background.png');
}
.img-2 {
  background-image: url('../images/page2/background.png');
}
.img-3 {
  background-image: url('../images/page3/background.png');
}
.img-4 {
  background-image: url('../images/page4/background.png');
}
.img-5 {
  background-image: url('../images/page5/background.png');
}
.img-6 {
  background-image: url('../images/page6/background.png');
}
.img-7 {
  background-image: url('../images/page7/background.png');
}
.img-8 {
  background-image: url('../images/page8/background.png');
}
.img-9 {
  background-image: url('../images/page9/background.png');
}
.img-10 {
  background-image: url('../images/page10/background.png');
}
.img-11 {
  background-image: url('../images/page4/background.png');
}
.img-12 {
  background-image: url('../images/page4/background.png');
}
.img-point1 {
  position: absolute;
  width:10%;
  left:45%;
  top:40%;
}
.img-point-new {
  position: absolute;
  right: 11%;
  width:17%;
  bottom:8%;
}
.up-arrow {
  position: absolute;
  left: 44%;
  width:12%;
  bottom:0.4%;
}
