
.img-page11-2 {
    position: absolute;
    left:0vw;
    width:54vw;
    top: 0vw; 
}

.img-page11-3 {
    position: absolute;
    left:9vw;
    width:33vw;
    top: 15vw;  
}

.img-page11-4 {
    position: absolute;
    left:5vw;
    width:90vw;
    top: 28vw;
}

.img-page11-5 {
    position: absolute;
    left:5vw;
    width:90vw;
    top: 40vw;
}
.img-page11-6 {
    position: absolute;
    left:5vw;
    width:90vw;
    bottom: 4vw;
}
