
.img-page7-2 {
    position: absolute;
    left:0vw;
    width:54vw;
    top: 0vw; 
}

.img-page7-3 {
    position: absolute;
    left:9vw;
    width:33vw;
    top: 15vw;  
}

.img-page7-4 {
    position: absolute;
    left:47vw;
    width:23vw;
    top: 27vw;
}

.img-page7-5 {
    position: absolute;
    left:20vw;
    width:75vw;
    top: 35vw;
}
.img-page7-6 {
    position: absolute;
    left:3vw;
    width:90vw;
    bottom: 6vw;
}
