.img-page2-logo {
  position: absolute;
  top:4%;
  width:46%;
  left:5%;
}
.img-page2-1 {
  position: absolute;
  bottom: 5%;
  width:75%;
  right:0px;
  background-color: rgba(98,140,200,0.8);
}
.img-page2-2 {
  position: absolute;
  bottom: 5%;
  width:2.9%;
  right:75%;
  z-index: 100;
}
.img-page2-3 {
  position: absolute;
  bottom: 8.5%;
  width:66%;
  right:0;
  z-index: 101;
}
