.img-page12-1 {
  position: absolute;
  top:11%;
  width:38%;
  left:31%;
}
.img-page12-2 {
  position: absolute;
  top:38%;
  width:80%;
  left:10%;
}
.img-page12-3 {
  position: absolute;
  top:52%;
  width:50%;
  left:25%;
}
