
.img-page13-2 {
    position: absolute;
    left:0vw;
    width:54vw;
    top: 0vw; 
}

.img-page13-3 {
    position: absolute;
    left:9vw;
    width:33vw;
    top: 15vw;  
}

.img-page13-4 {
    position: absolute;
    left:13vw;
    width:74vw;
    top: 28vw;
}

.img-page13-5 {
    position: absolute;
    left:5vw;
    width:90vw;
    top: 91vw;
}
.img-page13-6 {
    position: absolute;
    left:10vw;
    width:80vw;
    top: 100vw;
}
.img-page13-7 {
    position: absolute;
    left:10vw;
    width:80vw;
    top: 113vw;
}
.img-page13-8 {
    position: absolute;
    left:10vw;
    width:80vw;
    top: 126vw;
}
.img-page13-9 {
    position: absolute;
    left:10vw;
    width:80vw;
    top: 139vw;
}
